.display-flex {
    display: flex;
    flex-wrap: nowrap;
    &.space-between {
        justify-content: space-between;
    }
    &.right {
        justify-content: flex-end;
    }
    &.left {
        justify-content: flex-start;
    }
    &.center {
        justify-content: center;
    }
}