.navbar {
    position: relative;
    padding: 0;
    margin: 0;
    li {
        list-style: none;
        padding: 12.8px;
        margin: 0;
        color: #151f2d;
        font-size: 13px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;
        &:hover {
            color: $main-color;
        }
        &.active {
            color: $main-color;
        }
    }
}

.menu-list {
    li {
        position: relative;
        list-style: none;
        a {
            position: relative;
            text-decoration: none;
            display: block;
            padding: 10px 0;
            font-size: 10pt;
            font-weight: bold;
            color: $black !important;
            &:hover {
                color: $main-color;
            }
        }
        .router-link-active {
            color: $main-color !important;
        }
    }
    &.hover {
        li {
            a {
                &:hover {
                    color: $main-color;
                    background-color: $white-grey;
                    .icon {
                        color: $main-color !important;
                    }
                }
            }
        }
    }
    &.with-icon {
        li {
            a {
                display: flex;
                .icon {
                    width: 45px;
                    height: 30px;
                    line-height: 32px;
                    text-align: center;
                    font-size: 11px;
                    color: $grey !important;
                }
                .label {
                    width: calc(100% - 75px);
                    margin-top: 5px;
                }
                .val-container {
                    width: 30px; 
                    margin-top: 6px;
                    text-align: center;
                }
                .value {
                    width: 18px;
                    height: 17px;
                    border-radius: 2px;
                    background-color: $main-color;
                    color: #fff;
                    text-align: center;
                    font-size: 11px;
                }
            }
            .router-link-active {
                .icon {
                    color: $main-color !important;
                }
                .label {
                    color: $main-color !important;
                }
            }
        }
    }
    &.big {
        li {
            a {
                padding: 15px 0;
            }
        }
    }
    &.small {
        li {
            a {
                .icon {
                    width: 100%;
                    font-size: 14px;
                    margin: 0;
                }
                .label {
                    display: none;
                }
                .val-container {
                    position: absolute;
                    top: -2px;
                    right: 0;
                }
            }
        }
    }
}