.table-container {
    position: relative;
    width: 100%;
    background-color: #fff;
    border: $border;
    border-radius: 3px;
    overflow: hidden;
    .table-container-header {
        position: relative;
        width: calc(100% - 20px);
        padding: 5px 10px;
        h2 {
            color: $black;
            font-size: 20px;
            margin-top: 5px;
        }
        p {
            font-size: 12px;
        }
    }
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    .number {
        width: 30px;
        text-align: center;
        font-weight: 600;
    }
    .action {
        width: 100px;
        text-align: right;
    }
}
  
table td, table th {
    border-top: $border;
    padding: 10px;
    color: $black;
    font-size: 13px;
}
  
table tr:nth-child(even){
    background-color: #f8f8f8;
}
  
table tr:hover {
    background-color: $white-grey;
}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #fff;
    color: $black;
}